header {
  background-color: beige;
  text-align: center;
  padding: 50px;

}

img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}

footer {
  background-color: bisque;
  padding: 50px;
}

.Cute-list{
  padding: 20px;
}